[user]
	name = Bobby Brockway
	email = bbrockway@mintel.com
[core]
	excludesfile = /home/bbrockway/.gitignore-global
[pull]
	rebase = false
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[diff]
	submodule = log
