[user]
	name = Bobby Brockway
	email = 6728173+bcbrockway@users.noreply.github.com
[core]
	excludesfile = /home/bbrockway/.gitignore-global
[pull]
	rebase = false
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[diff]
	submodule = log
