# Satoshi Packages
#awscli 2.2.43
awscli 2.10.3
conftest v0.23.0
go-jsonnet 0.17.0
helm 3.7.0
jb 0.4.0
jq 1.6
kubectl 1.22.8
#kubectl 1.26.1
kubergrunt 0.6.10
kustomize 3.8.1
opa 0.26.0
pluto 4.0.4
tanka 0.13.0
terraform 0.13.5
terraform-docs 0.10.1
terragrunt 0.26.7
yq 4.12.0

# My Packages
argocd 2.3.2
hadolint 2.6.0
k3d 5.4.6
k9s 0.25.18
#kubectx 0.9.4
stern 1.21.0
tflint 0.28.0
tilt 0.24.1
